﻿@model IEnumerable<HotelControl.Data.Clients>

@{
    ViewBag.Title = "Клиенты на заданную дату ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div align="center">
        <p>
            @Html.TextBox("DateString1")
            @Html.TextBox("DateString2")
            <input type="submit" value="Search" />
        </p>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back", "Index")
</p>
