﻿@model IEnumerable<HotelControl.Data.Rooms>
@{
    ViewBag.Title = "Свободные номера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div align="center">
        <p>
            @Html.TextBox("DateString")
            <input type="submit" value="Search"/>
        </p>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCategory.RoomCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCategory.GuestCount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RoomCategory.Cost)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCategory.RoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCategory.GuestCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCategory.Cost)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back", "Index")
</p>

