﻿@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Свободные номера", "FreeNumber")
</p>
<p>
    @Html.ActionLink("Клиенты на заданную дату", "ClientForDate")
</p>
<p>
    @Html.ActionLink("Популярность услуг", "ServicePopularity")
</p>