﻿@model IEnumerable<HotelControl.ViewModel.ServiceModel>

@{
    ViewBag.Title = "ServicePopularity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Популярность услуг</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back", "Index")
</p>
