﻿@model HotelControl.Data.Clients

@{
    ViewBag.Title = "Total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Итог</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rooms.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Проживание
        </dt>

        <dd>
            @ViewBag.Living
        </dd>
        @{
            var used = Model.UsedServices.GroupBy(x => x.Services.ServiceName).Select(s => new {s.Key, s.ToList().Count});
            foreach (var s in used)
            {
                <dt>
                    @s.Key
                </dt>
                <dd>
                    @s.Count * @Model.UsedServices.First(x => x.Services.ServiceName == s.Key).Services.Cost;
                </dd>
            }
        }
        <hr/>
        <dt>
            ИТОГО
        </dt>

        <dd>
            @ViewBag.TotalPrice
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
