﻿@model HotelControl.Data.UsedServices

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsedServices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services.ServiceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
